body {
  font-family: 'Oxygen', sans-serif;
}

.temperature_section {
 display: inline-block;
 width: 10rem;
 text-align: center;
}

.temperature_amount {
  display: block;
  height: 4rem;
  margin-bottom: 0.37rem;
  color: #fed513;
  font-size: 2.62rem;
  line-height: 4rem;
  font-weight: bold;
  background-color: white;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.temperature_label {
 display: block;
 height: 3.5rem;
 color: white;
 font-size: 0.87rem;
 line-height: 3.5rem;
 background-color: #79ceff;
 box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}
